<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldu.dao.RecordMapper" >
    <resultMap id="RecordList" type="com.ldu.pojo.Record" >
        <!-- 实体类属性对应数据库的主键字段，不然主键会查不到 -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="comment_status" property="commentStatus" jdbcType="BIT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>

        <association property="goods" column="goods_id" javaType="com.ldu.pojo.Goods" select="com.ldu.dao.GoodsMapper.selectById" >
        </association>
    </resultMap>

    <select id="selectByUserId" parameterType="Integer" resultMap="RecordList">
        select * from record
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectById" parameterType="Integer" resultMap="RecordList">
        select * from record
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="addRecord">
        insert into record(user_id, goods_id)
        values (#{user_id,jdbcType=INTEGER}, #{goods_id,jdbcType=INTEGER})
    </insert>

    <update id="updateRecord" parameterType="Integer">
        update record set comment_status = true
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteRecord" parameterType="Integer">
        delete from record
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>